<!--
  Generated template for the AddPersonPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>{{ongletTitle}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="personForm" (ngSubmit)="onSubmitForm()">
      <ion-chip>
        <ion-icon name="md-contact"></ion-icon>
        <ion-label>Person</ion-label>
      </ion-chip>
      <ion-list>
        <ion-item class="form-group">
          <ion-label for="image" stacked>Logo</ion-label>
          <ion-input type="file" id="image" class="form-control" formControlName="image" accept=".png, .jpg, .jpeg" (change)="onSelectFile($event)"></ion-input>
        </ion-item>
        <ion-item class="form-group">
          <ion-label stacked>Firstname</ion-label>
          <ion-input type="text" id="first_name" class="form-control" formControlName="first_name"></ion-input>
        </ion-item>
        <ion-item class="form-group">
          <ion-label stacked>Lastname</ion-label>
          <ion-input type="text" id="last_name" class="form-control" formControlName="last_name"></ion-input>
        </ion-item>
        <ion-item class="form-group">
          <ion-label stacked>Username</ion-label>
          <ion-input type="text" id="user_name" class="form-control" formControlName="user_name"></ion-input>
        </ion-item>
        <ion-item class="form-group">
          <ion-label stacked>email</ion-label>
          <ion-input type="email" id="email" class="form-control" formControlName="email"></ion-input>
        </ion-item>
        <ion-item class="form-group">
          <ion-label stacked>Description</ion-label>
          <ion-input type="email" id="description" class="form-control" formControlName="description"></ion-input>
        </ion-item>
        <ion-item class="form-group">
          <ion-label stacked>Role</ion-label>
          <ion-select [(ngModel)]="role" id="role" class="form-control" formControlName="role">
            <ion-option *ngFor="let opt of rolesTitle" [value]="opt">{{opt}}</ion-option>
          </ion-select>
        </ion-item>
        <ion-item class="form-group">
          <ion-label stacked>Promo</ion-label>
          <ion-select [(ngModel)]="promo" id="promo" class="form-control" formControlName="promo">
            <ion-option *ngFor="let opt of promosTitle" [value]="opt">{{opt}}</ion-option>
          </ion-select>
        </ion-item>
        <ion-item class="form-group">
          <ion-label stacked>Parcours</ion-label>
          <ion-select [(ngModel)]="parcours" id="parcours" class="form-control" formControlName="parcours">
            <ion-option *ngFor="let opt of parcoursTitle" [value]="opt">{{opt}}</ion-option>
          </ion-select>
        </ion-item>

        <ion-item class="form-group">
          <ion-label>Birthdate</ion-label>
          <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="birthDate" id="birth_date" class="form-control"
                        formControlName="birth_date"></ion-datetime>
        </ion-item>
          <button class="submit-btn" type="submit" [disabled]="personForm.invalid" ion-button round>
            Submit
          </button>
      </ion-list>
  </form>
  <button ion-button color="danger" (click)="exitPage()" round>Cancel</button>

</ion-content>
